$main-color: #333258;
$secondary-color: #1D1C38;
$main-opacity-color: rgba(51, 50, 88, 0.5);;
$gradient: linear-gradient(179.89deg, #393258 0.09%, rgba(51, 50, 88, 0) 136.29%);
$white-color: #ffffff;
$black-color: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

.product-page {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: $screen-lg) {
        margin-top: 20px;
    }

    .image {
        .product-page-image-active {
            padding-top: 80%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 20px;
        }

        .product-page-image {
            padding-top: 80%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media (max-width: $screen-lg) {
                padding-top: 100%;
            }
        }     
    }

    .content {
        padding: 60px 80px 0;
        @media (max-width: $screen-lg) {
            padding: 40px 15px 0;
        }

        h1 {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            letter-spacing: 0.195em;
            color: $secondary-color;
            margin-bottom: 40px;
            @media (max-width: $screen-lg) {
                margin-bottom: 20px;
            }
        }

        .details {
            margin-bottom: 60px;
            @media (max-width: $screen-lg) {
                margin-bottom: 20px;
            }

            .colors {
                margin-bottom: 20px;
                @media (max-width: $screen-lg) {
                    margin-bottom: 10px;
                }

                .color {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 16px;
                    display: inline-block;
                    cursor: pointer;
                    @media (max-width: $screen-lg) {
                        width: 16px;
                        height: 16px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .blue {
                    background-color: #0500FF
                }
        
                .red {
                   background-color: #FF0000
                }
        
                .green {
                        background-color: #24FF00
                }
        
                .black {
                    background-color: #000
                }
        
                .white {
                        background-color: #fff
                }
        
                .gray {
                    background-color: #A9A9A9
                }
        
                .yellow {
                        background-color: #FFC700
                }
    
                .selected {
                    border: 2px solid $black-color;
                    width: 32px;
                    height: 32px;
                }

                .black.selected {
                    border: 2px solid $white-color;
                    width: 32px;
                    height: 32px;
                }
            }

            .sizes {
                margin-bottom: 20px;
                @media (max-width: $screen-lg) {
                    margin-bottom: 10px;
                }
                .size {
                    margin-right: 20px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    letter-spacing: 0.195em;
                    color: $secondary-color;
                    cursor: pointer;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .selected {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 24px;
                    letter-spacing: 0.195em;
                    color: $main-color
                }
            }

            .price {
                font-family: Lato;
                font-style: normal;
                font-weight: 800;
                font-size: 24px;
                letter-spacing: 0.195em;
                color: $secondary-color;

                .discount {
                    margin-right: 16px;
                    @media (max-width: $screen-md) {
                        margin-right: 8px;
                    }
                }

                .cheaper {
                    text-decoration: line-through;
                    opacity: .5;
                }
            }
        }

        a.link {
            width: 100%;
            margin-bottom: 32px;
            text-align: center;
        }

        .description p {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.2em;
            color: $secondary-color;
            margin-bottom: 10px;
            @media (max-width: $screen-lg) {
                font-size: 14px;
            }

            &:last-child {
                margin-bottom: 0;
            }
         }
    }


    .similar-products {
        padding-top: 80px;
        @media (max-width: $screen-lg) {
            padding-top: 40px;
        }

        h2 {
            margin-bottom: 20px;
        }
        
        .product {
            margin-bottom: 0;
            @media (max-width: $screen-lg) {
                margin-bottom: 40px;
            }
        }
    }

    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
        max-width: 60%;
        @media (max-width: $screen-lg) {
            padding-top: 0;
            padding-bottom: 20px;
            max-width: 100%;
        }

        h3 {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 0.2em;
            color: $black-color;
            margin-bottom: 20px;
            @media (max-width: $screen-lg) {
                font-size: 28px;
            }
        }

        .review {
            display: flex;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            .buyer-info {
                margin-right: 120px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (max-width: $screen-lg) {
                    margin-right: 32px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }

                p {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 0.195em;
                    color: $black-color;
                    white-space: nowrap;
                }
            }

            .comment {
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.195em;
                color: $black-color;
            }
        }
    }

    .add-review {
        max-width: 50%;
        @media (max-width: $screen-lg) {
            max-width: 100%;
        }

        h3 {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 0.2em;
            color: $black-color;
            margin-bottom: 20px;
            @media (max-width: $screen-lg) {
                font-size: 28px;
            }
        }

        .stars {
            margin-bottom: 24px;
        }

        textarea {
            border: none;
            background-color: $main-opacity-color;
            padding: 16px;
            outline: none;
            width: 100%;
            height: 180px;
            display: block;
            margin-bottom: 24px;

            &::placeholder {
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 0.2em;
                color: $main-color;
            }
        }
    }
}