$main-color: #333258;
$secondary-color: #1D1C38;
$main-opacity-color: rgba(51, 50, 88, 0.5);;
$gradient: linear-gradient(179.89deg, #393258 0.09%, rgba(51, 50, 88, 0) 136.29%);
$white-color: #ffffff;
$black-color: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

.product {
    margin-bottom: 40px;
    display: block;
    @media (max-width: $screen-md) {
        margin-bottom: 20px;
    }
    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 62%;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        @media (max-width: $screen-md) {
            margin-bottom: 10px;
        }

        .heart {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    h3 {
        margin-bottom: 10px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.195em;
        color: $secondary-color;
        @media (max-width: $screen-md) {
            margin-bottom: 5px;
        }
    }

    .price  {
        margin-bottom: 10px;
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: 0.195em;
        color: $main-color;
        @media (max-width: $screen-md) {
            margin-bottom: 5px;
        }

        .discount {
            margin-right: 16px;
            @media (max-width: $screen-md) {
                margin-right: 8px;
            }
        }

        .cheaper {
            text-decoration: line-through;
            opacity: .5;
        }
    }

    .colors {
        margin-bottom: 10px;
        @media (max-width: $screen-md) {
            margin-bottom: 5px;
        }
        span {
            display: inline-block;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }

        .blue {
             background-color: #0500FF
        }

        .red {
            background-color: #FF0000
        }

        .green {
             background-color: #24FF00
        }

        .black {
            background-color: #000
        }

        .white {
             background-color: #fff
        }

        .gray {
            background-color: #A9A9A9
        }

        .yellow {
             background-color: #FFC700
        }
    }

    .stars {
        img {
            margin-right: 5px;
        }
    }
}