.post-page {
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
        margin-bottom: 40px;
    }

    .image {
        margin-bottom: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding-top: 80%;
    }

    .full-text {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
}