$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

.about-page {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: $screen-md) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1 {
        margin-bottom: 40px;
        @media (max-width: $screen-md) {
            margin-bottom: 20px;
        }
    }

    p {
        margin-bottom: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.2em;
        color: #000000;
        @media (max-width: $screen-md) {
            margin-bottom: 12px;
            font-size: 14px;
        }
    }
}